.box{
    width: 50%;
    margin: auto;
}
table{
    width: 80%;
    height: 200px;
    margin: auto;
    background-color: black;
}
#input{
    border: none;
}
#result{
    border: none;
    padding: 2px;
    font-weight: bold;
    width: 99%;
    margin: auto;
}
input[type="button"]{ 
    background-color:rgb(65, 58, 58); 
    color: white;
    width:100%;
    height: 30px;
}
td button{
    background-color:black; 
    color: white; 
    border: solid black 2px; 
    width:100% 
}
td{
    border: none;
    padding: none;
}